<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Домой", root_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Пользователи", users_path %></li>
    
      <% end %>
      <li><%= link_to "Помощь", help_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Выход", signout_path, :method => :delete %></li>
      
      <% end %>
    </ul>
  </nav>
</header>